# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow

### Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook.  |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## *Objectives:*

- List popular languages for Data Science
- Understand basic data types of Python
- Perform simple arithmetic operations in Python
- Create and run code clls in Jupyter Notebook

## Author

Ananya Goel